.loader-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: var(--clr-background-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-container > div > .loader {
  --size: 5rem;
  width: var(--size); 
  height: var(--size); 
  border-radius: 50%;
  border: solid .4rem #bbb;
  border-top-color: var(--clr-primary-dark);
  margin-bottom: 1rem;

  animation: loader infinite ease-in-out .8s;
}

.loader-container > div > span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-primary-dark);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}